<!DOCTYPE HTML>

<html>
	<head>
		<title>Saluton</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.8/tailwind.min.css" integrity="sha512-sP93un/6HzFSfkHZ4jCTbf4XgiMldakhz+/ibX+8sk6fVvkWvoGhqfFeVlFoY6aEPakF6zI4XvVGF5+t/ahHQg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/index.css">
	</head>
	<body>
    <a href="login" class='p-2 border-2 border-white rounded-lg absolute text-4xl hover:bg-black text-white transition-colors' id='login'>Log In</a>
    <div id='ethan' class='absolute'>
      <img src="/static/images/ethan_funny.png" alt="Ethan" class='w-72 rounded-full'>
      <p class='text-3xl w-full text-center pt-1 text-yellow-700'>Ethan, the Expert</p>
    </div>
    <div id='michael' class='absolute'>
      <img src="/static/images/michael_funny.png" alt="Michael" class='w-72 rounded-full'>
      <p class='text-3xl w-full text-center pt-1 text-yellow-700'>Michael, the Mastermind</p>
    </div>
    <div id="lilly" class='absolute'>
      <img src="/static/images/lilly_funny.png" alt="Lilly" class='w-72 rounded-full'>
      <p class='text-3xl w-full text-center pt-1 text-yellow-700'>Lilly, the Locksmith</p>
    </div>
    
    
		<main class='flex justify-center h-full items-center flex-col'>
      <h1 class='text-8xl'>Saluton!</h1>
      <p class='text-3xl'>It's a small world out there</p>
    </main>
	</body>
</html>