<html>

<head>
	<title>Saluton</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.8/tailwind.min.css" integrity="sha512-sP93un/6HzFSfkHZ4jCTbf4XgiMldakhz+/ibX+8sk6fVvkWvoGhqfFeVlFoY6aEPakF6zI4XvVGF5+t/ahHQg=="
	 crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/static/message.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>

<body class='text-center'>
   <img src="/static/images/bluebackarrow.png" alt="back" class='w-24 absolute left-0 top-0 m-6 cursor-pointer text-black' id='back' onclick='window.location.href="/profile"'>
   <main class='h-full flex flex-col'>
     <h1 class='text-7xl text-center w-full'>{{palName}}</h1>
     <center class='flex-grow pt-20'><div id="texts" class='flex flex-col w-1/2'></div></center>
     <div class='pb-6'>
       <input id='typing' type="text" class='w-2/6 border-black border-2 rounded-full text-2xl outline-none p-2 px-4' placeholder="Type something...">
     </div>


   </main>
  <script src='/static/message.js'></script>
</body>
</html>