<html>

<head>
	<title>Saluton</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.8/tailwind.min.css" integrity="sha512-sP93un/6HzFSfkHZ4jCTbf4XgiMldakhz+/ibX+8sk6fVvkWvoGhqfFeVlFoY6aEPakF6zI4XvVGF5+t/ahHQg=="
	 crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/static/message.css">
</head>

<body class='text-center'>
  <a href="profile" class='p-2 border-2 border-white rounded-lg absolute text-4xl hover:bg-black transition-colors' id='logout'
	 style="color: #eb605b">Leave</a>
     
  <script>
  </script>
</body>
</html>