<!DOCTYPE HTML>

<html>

<head>
	<title>Saluton</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.8/tailwind.min.css" integrity="sha512-sP93un/6HzFSfkHZ4jCTbf4XgiMldakhz+/ibX+8sk6fVvkWvoGhqfFeVlFoY6aEPakF6zI4XvVGF5+t/ahHQg=="
	 crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/static/profile.css">
</head>

<body class='text-center'>
	<a onclick="logout()" class='p-2 border-2 border-white rounded-lg absolute text-4xl hover:bg-black transition-colors cursor-pointer' id='logout'
	 style="color: #eb605b">Log Out</a>
	<h1 class='text-7xl text-left absolute' style="left: 41vw; top: 5rem;">Hello {{name}}!</h1>
  <div id='picture' class='absolute p-4 rounded-full bg-blue-400 w-28 h-28 flex justify-center items-center'>
     <img src='/static/images/profile pics/{{profpic}}.png' class='h-full'>
  </div>

  <img id='bunny' src='/static/images/bunny.png' class='absolute w-32 h-32 cursor-pointer' onclick='location.href="/message"'>
	
 
  <p class='fp absolute' id='profileText'>My<br>Profile</p>
  <a href="/message" class='fp absolute' id='messagingText'>Messaging</a>
  <p class='fp absolute' id='languageText'>Learn<br>Language</p>
  <main class='flex justify-center h-full items-center flex-col'>

    
  </main>
     
    <script>
      function logout(){
        fetch('logout', {
          method: 'POST',
          headers:{
            'Content-Type': 'application/json'
          }
        }).then(resp => resp.text()).then(text => {
          window.location.href = 'login';
        })
      }
    </script>
	</body>
</html>